ProvisioningSystem/AlphaSOAPaaS/PaasProvisioning/xsd/GetBSProvisioningCodeProcess.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/AlphaSOAPaaS/PaasProvisioning/GetBSProvisioningCodeProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="BusinessServiceId" type="string"/>
				<element name="ProvisionCode" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="ProvisionValue" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>